* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  color: #37d5d6;
}
.menu {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  height: 70px;
}

.logo {
  padding-left: 10px;
  width: 150px;
  height: auto;
  align-items: center;
}
.logo img {
  max-width: 100%;
  height: auto;
}
.nav_list {
  list-style: none;
}
.nav_items {
  display: inline-table;
  padding: 0px 20px;
}
.nav_links {
  position: relative;
  text-decoration: none;
  color: #37d5d6;
  font-size: 20px;
  display: block;
}
.nav_links::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 110%;
  left: 0;
  height: 2px;
  background: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
  border-radius: 100%;
  transition: 0.3s;
  transform: scale(0);
}
.nav_links:hover::after {
  transform: scale(1);
}
#menuBtn {
  cursor: pointer;
  user-select: none;
  display: none;
}
.bar {
  margin: 5px auto;
  width: 26px;
  height: 2px;
  background: #37d5d6;
  border-radius: 5px;
  transition: 0.5s cubic-bezier(1, 0.2, 0.2, 1);
}

@media (max-width: 768px) {
  #menuBtn {
    display: block;
  }
  .nav_list {
    position: fixed;
    width: 250px;
    height: calc(100vh - 70px);
    top: 70px;
    right: -250px;
    background-color: #5c5c5c;
    border-radius: 10% 0% 0% 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    transition: right 0.4s cubic-bezier(1, 0.2, 0.2, 1);
    z-index: 100;
  }
  .nav_list.triggered {
    right: 0;
  }
  .nav_items {
    padding: 20px;
    letter-spacing: 2px;
  }
  .nav_items:nth-child(1) {
    margin-top: 30px;
  }
  .menu {
    background-color: #232323;
  }

  .triggered .bar:nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
  }
  .triggered .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .triggered .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}

/* ================Landing Page==================== */

.infoText {
  padding: 0 8%;
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url(./assests/soham.png);
  background-repeat: no-repeat;
  /* background-size: 800px 1100px; */
  background-position: left center;
  align-items: center;
}
.first {
  padding-top: 200px;
}
.line {
  display: flex;
  justify-content: flex-end;
  color: #b2b2b2;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.myName {
  display: flex;
  justify-content: flex-end;
  color: #dedce1;
  font-size: 50px;
  padding: 8px 0px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #333, -2px -2px 2px #333;
}

.myName span {
  color: #50a7c2;
  padding-left: 10px;
}
.resume {
  padding: 10px 12px;
  border: 2px solid #79747b;
  border-radius: 20px;
  outline: none;
  float: left;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c7780;
  background-color: #000000;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.4s;
}
.resume:hover {
  background: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
  color: #0e617a;
}
.social_icon {
  position: absolute;
  bottom: 60px;
  right: 8%;
}
.social_link {
  font-size: 24px;
  padding-right: 20px;
  color: #dedce1;
  transition: 0.4s;
}
.social_link:hover {
  color: #37d5d6;
  transform: scale(1);
}

@media (max-width: 768px) {
  .infoText {
    background-position: center;
  }
  .first {
    padding-top: 160px;
  }
  .line {
    font-weight: bold;
    color: #ffffff;
    text-align: right;
  }
}

/* =================about me page================ */
.section_title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 0.8;
  color: #ffffff;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.section_title span{
    background-image: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
    color: #000000;
}
.section_title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: #37d5d6;
}
.section_title::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #37d5d6;
}
.about{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    /* margin-left: 100px; */
}
.about_content{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 30px auto;
}
.about_text{
    /* box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.8); */
    padding: 25px 25px;
}
.about_title{
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #fff;
}
.about_des{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.75;
    color: #fff;
}
.about_image{
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

@media screen and (max-width: 900px){
    .about_content{
        grid-template-columns: repeat(1, 1fr);
    }
    .about_text{
        text-align: center;
    }
}

@media screen and (max-width: 450px){
  .about_image img{
    width: 100%;
  }
}